<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Usuarios</h4>

                <table class="table table-hover">
                    <tbody>
                        <tr [routerLink]="['/usuarios']" class="pointer" *ngFor="let usuario of usuarios">
                            <td><img [src]="usuario.img | imagen:'usuario'" class="img-circle img-50"></td>
                            <td>{{ usuario.nombre }}</td>
                            <!-- <td>
                                <button [routerLink]="['/usuarios']" class="btn btn-primary">
                                  <i class="fa fa-edit"></i>
                                </button>
                            </td> -->
                        </tr>
                    </tbody>
                </table>

                <div *ngIf="usuarios.length===0" class="alert alert-info">
                    No hay registros
                </div>

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Médicos</h4>

                <table class="table table-hover">
                    <tbody>
                        <tr [routerLink]="['/medico', medico._id]" class="pointer" *ngFor="let medico of medicos">
                            <td><img [src]="medico.img | imagen:'medico'" class="img-circle img-50"></td>
                            <td>{{ medico.nombre }}</td>
                            <!-- <td>
                                <button [routerLink]="['/medico', medico._id]" class="btn btn-primary">
                              <i class="fa fa-edit"></i>
                            </button>
                            </td> -->
                        </tr>
                    </tbody>
                </table>

                <div *ngIf="medicos.length===0" class="alert alert-info">
                    No hay registros
                </div>

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hospitales</h4>

                <table class="table table-hover">
                    <tbody>
                        <tr [routerLink]="['/hospitales']" class="pointer" *ngFor="let hospital of hospitales">
                            <td><img [src]="hospital.img | imagen:'hospital'" class="img-circle img-50"></td>
                            <td>{{ hospital.nombre }}</td>
                            <!-- <td>
                                <button [routerLink]="['/hospitales']" class="btn btn-primary">
                              <i class="fa fa-edit"></i>
                            </button>
                            </td> -->
                        </tr>
                    </tbody>
                </table>

                <div *ngIf="hospitales.length===0" class="alert alert-info">
                    No hay registros
                </div>

            </div>
        </div>
    </div>
</div>