<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarHospital(input.value)" type="text" class="form-control" placeholder="Buscar hospital...">

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button (click)="crearHospital()" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                        <i class="fa fa-plus"> Crear hospital</i>
                    </button>
                </div>

                <h3 class="card-title">Hospitales registrados (<small>{{_hospitalService.totalHospitales}}</small>)</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Hospital</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitales">
                            <td>
                                <img (click)="actualizarImagen( hospital )" [src]="hospital.img | imagen:'hospital'" class="img-50 pointer">
                            </td>
                            <td>
                                <input [(ngModel)]="hospital.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre hospital">
                            </td>
                            <td>
                                <button (click)="actualizarHospital(hospital)" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                </button>

                                <button (click)="borrarHospital(hospital._id)" class="btn btn-danger">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>



<!-- <div class="row animated fadeIn">
    <div class="col-12">

        <div class="card">
            <div class="row">
                <div class="col-md-4 ml-auto">
                    <button (click)="modalCrearHospital()" class="btn btn-primary btn-sm">+ Crear hospital</button>
                </div>
            </div>
            <div class="card-body">

                <h3 class="card-title">Hospitales registrados ( <small>{{ totalHospitales }}</small> ) </h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Hospital</th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitales">
                            <td class="w70">
                                  -->
<!-- <img (click)="mostrarModal( hospital._id )" [src]="hospital.img | imagen" class="img-50 img-circle pointer">
                            </td>

                            <td>
                                <input [(ngModel)]="hospital.nombre" name="nombre" type="text" class="form-control">
                            </td>

                            <td>
                                <button (click)="actualizarHospital(hospital)" class="btn btn-primary">
                                <i class="fa fa-save"></i>
                              </button>

                                <button (click)="borrarHospital(hospital._id)" class="btn btn-danger">
                                <i class="fa fa-trash-o"></i>
                              </button>
                            </td>
                        </tr>
                    </tbody>
                </table> -->
<!-- <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
                  Anteriores
                </button>
              <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                    Siguientes
                  </button> -->
<!-- </div>
        </div>
    </div>
</div>  -->